---
layout: default
title: Home
---

{% include instafeed.html %}

<style type='text/css'>

  /* entypo */
  body {
      font-family: proxima-nova, sans-serif;
      background: #000;
  }
    a {
      text-decoration: none;
      color: #dd4830;
    }
    #whoami p {
      opacity: 0;
      margin-top: 25px;
      font-size: 1.5em;
      text-align: left;
      z-index: 9999;
      position: absolute;
      color: #fff;
      top: 100px;
      left: 100px;
      width: 40%;
      font-weight: 200;
      line-height: 1.4em;
    }

    #bg {
      position:fixed; 
      top:-50%; 
      left:-50%; 
      width:200%; 
      height:200%;
      background: #000;
    }
    #bg img {
      position:absolute; 
      top:0; 
      left:0; 
      right:0; 
      bottom:0; 
      margin:auto; 
      min-width:50%;
      min-height:50%;
      opacity: .4;
    }
    #caption {
      z-index: 99999999;
      color: rgba(255,255,255,1);
      font-size: 16px;
      position: absolute;
      bottom: 50px;
      right: 50px;
      text-shadow: 0 1px 1px #000;
      line-height: .9em;
      font-family: helvetica neue;
      font-weight: 200;
      width: 50%;
      text-align: right;
      line-height: 1.3em;
    }
    .next {
      position: fixed;
      top: 30%;
      right: 0;
      font-size: 150%;
      color: #fff;
      background: rgba(0,0,0,.5);
      margin: 1%;
      border-radius: 400px;
      padding: 1em;
      line-height: .5em;
      cursor: pointer;
    }
     .prev {
     position: fixed;
      top: 30%;
      left: 0;
      font-size: 150%;
      color: #fff;
      background: rgba(0,0,0,.5);
      margin: 1%;
      border-radius: 400px;
      padding: 1em;
      line-height: .5em;
      cursor: pointer;
    }
    /* colors  I stole from Layer Vault because they own all the color in the world */
    .green {color:#de5267;}
    .tomato {color:#de5267;}
    .sky {color:#de5267;}
    .mustard {color:#de5267;}

    ::selection {
     background: #222; /* Safari */
    }
    ::-moz-selection {
      background: #222; /* Firefox */
    }

   @media only screen and (max-device-width: 480px), only screen and (min-device-width: 560px) and (max-device-width: 1136px) and (-webkit-min-device-pixel-ratio: 2) {
    /* iPhone only */
      #whoami p {
      opacity: 0;
      margin: 2em;
      font-size: 1.4em;
      text-align: left;
      z-index: 9999;
      position: relative;
      color: #fff;
      top: .5em;
      left: .2em;
      width: 80%;
      weight: bold;
      display: inline-block;
      padding: 0 0 100px 0;
    }
     .next {
      position: fixed;
      top: 2%;
      right: 0;
      font-size: 150%;
      color: #fff;
      background: rgba(0,0,0,.5);
      margin: 1%;
      border-radius: 400px;
      padding: 1em;
      line-height: .5em;
      cursor: pointer;
    }
     .prev {
      position: fixed;
      top: 2%;
      left: 0;
      font-size: 150%;
      color: #fff;
      background: rgba(0,0,0,.5);
      margin: 1%;
      border-radius: 400px;
      padding: 1em;
      line-height: .5em;
      cursor: pointer;
    }
    #caption {
      z-index: 99999999;
      color: rgba(255,255,255,1);
      font-size: 16px;
      position: relative;
      left: 50px;
      text-shadow: 0 1px 1px #000;
      line-height: .9em;
      font-family: helvetica neue;
      font-weight: 200;
      width: 75%;
      text-align: left;
      line-height: 1.3em;
    }
   }
  </style>
  

  <!-- soft load the bio -->
  <script type='text/javascript'>//<![CDATA[ 
    $(window).load(function(){
    $("#whoami p").delay(1000).animate({"opacity": "1"}, 700);
    });//]]>  
  </script>


  

</head>

<body>
  <div id="whoami">
    <p>
      Hi Friend. 
      
      <br><br>
     My name is Marc Hemeon, CEO and Founder of <a href="http://www.designinc.com">Design Inc.</a>.

     <br><br>
     Formally, I was Co-founder of <a href="https://medium.com/@kevinrose/hodinkee-watchville-join-forces-131f556f2d42#.djs7kaz4o" class="green">North</a>, designer at <a href="http://youtube.com" class="green">YouTube</a> and <a href="http://google.com" class="green">Google</a>. I co-founded and designed <a href="http://fflick.com" class="tomato">fflick</a>, which was acquired by Google.   

      <br><br>
      In the past, I was the Director of UX for  <a href="http://oakley.com" class="tomato">Oakley</a>, design lead for <a href="http://digg.com" class="tomato">digg</a> and a co-founder of <a href="http://teefury.com" class="tomato">TeeFury</a> and <a href="http://www.designbyhumans.com" class="tomato">Design By Humans</a>.  My history is on <a href="http://lnkd.in/mHYGwG" class="sky">LinkedIn</a>.
     
      
      <br><br>
      I post work on <a href="http://dribbble.com/hemeon" class="sky">dribbble</a>,  write at <a href="https://medium.com/@hemeon" class="sky">Medium</a>, post <a href="http://instagram.com/hemeon" class="sky">photos</a>, <a href="https://www.youtube.com/watch?v=-gYVjHg5_Fk" class="mustard">speak</a> at <a class="mustard" href="https://vimeo.com/107417944">conferences</a>, paint <a href="http://marchemeon.com" class="mustard">waves on reclaimed wood</a>, and  enjoy <a href="https://angel.co/hemeon" class="mustard">advising</a> startups. I sometimes make random things with friends like <a href="http://picswitch.com" class="mustard">picswitch</a>.
      
      <br><br>
     You should follow me on  <a class="follow-twitter mustard" href=" http://twitter.com/hemeon" onclick="window.open('https://twitter.com/intent/follow?screen_name=hemeon&amp;source=followbutton&amp;variant=1.0','FollowAddThis','width=520,height=520');return false;">Twitter</a> and <a href="http://instagram.com/hemeon" class="mustard">Instagram</a>

      <br><br>
      <!-- make it hard for spiders to get my email -->
      <script language=javascript>
        <!-- 
        var showtag="@"
        var showlink="Contact Me";
        var showname="marchemeon";
        var showhost="gmail.com";
        document.write("<a href="+"mail"+"to:"+showname+showtag+showhost+" "+"class='mustard'"+">"+showlink+"</a>")
        //-->
      </script>
    </p>
  </div>

  <!-- instagram photo become the background -->
  <div id="instafeed"></div>
 <div class="controls">
  <div class="prev entypo-left-open-big"></div>
  <div class="next entypo-right-open-big"></div>

  <!-- Grab My Latest Instagram Photo -->
  <script type="text/javascript">


feed = new Instafeed({
   get: 'user',
        userId: 141970,
        accessToken: '141970.467ede5.edbc9c37472d41b790e1db8948793f11',
        sortby: 'random',
        resolution: 'standard_resolution',
        links: 'false',
        limit: '10',
        template: '<div id="caption">{{caption}} <br>{{likes}} likes on my <a href="http://instagram.com/hemeon" class="sky">instagram</a></div><div id="bg"><img src="{{image}}" /></div>',
  mock: true,
  custom: {
    images: [],
    currentImage: 0,
    showImage: function () {
      var result, image;
      image = this.options.custom.images[this.options.custom.currentImage];
      result = this._makeTemplate(this.options.template, {
        model: image,
        id: image.id,
        link: image.link,
        image: image.images[this.options.resolution].url,
        caption: this._getObjectProperty(image, 'caption.text'),
        likes: image.likes.count,
        comments: image.comments.count,
        location: this._getObjectProperty(image, 'location.name')
      });
      $("#instafeed").html(result);
    }
  },
  success: function (data) {
    this.options.custom.images = data.data; 
    this.options.custom.showImage.call(this);
  }
});
feed.run();

$(".next").click(function () {
  var length, current;
  current = feed.options.custom.currentImage;
  length = feed.options.custom.images.length;
  if (current < length - 1) {
    feed.options.custom.currentImage++;
    feed.options.custom.showImage.call(feed);
  }
});

$(".prev").click(function () {
  var length, current;
  current = feed.options.custom.currentImage;
  length = feed.options.custom.images.length;
  if (current > 0) {
    feed.options.custom.currentImage--
    feed.options.custom.showImage.call(feed);
  }
});
  </script>

<!--
<div class="posts">
  {% for post in paginator.posts %}
  <article class="post">
    <h1 class="post-title">
      <a href="{{ site.baseurl }}{{ post.url }}">
        {{ post.title }}
      </a>
    </h1>

    <time datetime="{{ post.date | date_to_xmlschema }}" class="post-date">{{ post.date | date_to_string }}</time>

    {{ post.content }}
  </article>
  {% endfor %}
</div>

<div class="pagination">
  {% if paginator.next_page %}
    <a class="pagination-item older" href="{{ paginator.next_page_path | prepend: site.baseurl }}">Older</a>
  {% else %}
    <span class="pagination-item older">Older</span>
  {% endif %}
  {% if paginator.previous_page %}
    <a class="pagination-item newer" href="{{ paginator.previous_page_path | prepend: site.baseurl }}">Newer</a>
  {% else %}
    <span class="pagination-item newer">Newer</span>
  {% endif %}
</div>
-->