---
layout: default
title: Home
---

{% include instafeed.html %}

<script type='text/javascript'>//<![CDATA[ 
  $(window).load(function(){
  $("#whoami p").delay(1000).animate({"opacity": "1"}, 700);
  });//]]>  
</script>

<!-- instagram photo become the background -->
<!-- 
<div id="instafeed"></div>
<div class="controls">
<div class="prev entypo-left-open-big"></div>
<div class="next entypo-right-open-big"></div> -->

<div id="instafeed"></div>

<!-- Grab My Latest Instagram Photo -->
<script type="text/javascript">

  feed = new Instafeed({
   get: 'tagged',
        tagName: 'awesome',
        clientId: '7cc9252718494f4aa5bbcd4cd6bcd7fa',
        sortby: 'random',
        resolution: 'standard_resolution',
        links: 'false',
        limit: '10',
          template: '<div id="caption">{{caption}} <br>{{likes}} asd<a href="http://instagram.com/hemeon" class="sky">asd</a></div><div id="bg"><img src="{{image}}" /></div>',
    mock: true,
    custom: {
      images: [],
      currentImage: 0,
      showImage: function () {
        var result, image;
        image = this.options.custom.images[this.options.custom.currentImage];
        result = this._makeTemplate(this.options.template, {
          model: image,
          id: image.id,
          link: image.link,
          image: image.images[this.options.resolution].url,
          caption: this._getObjectProperty(image, 'caption.text'),
          likes: image.likes.count,
          comments: image.comments.count,
          location: this._getObjectProperty(image, 'location.name')
        });
        $("#instafeed").html(result);
      }
    },
    success: function (data) {
      this.options.custom.images = data.data; 
      this.options.custom.showImage.call(this);
    }
  });
  feed.run();

  $(".next").click(function () {
    var length, current;
    current = feed.options.custom.currentImage;
    length = feed.options.custom.images.length;
    if (current < length - 1) {
      feed.options.custom.currentImage++;
      feed.options.custom.showImage.call(feed);
    }
  });

  $(".prev").click(function () {
    var length, current;
    current = feed.options.custom.currentImage;
    length = feed.options.custom.images.length;
    if (current > 0) {
      feed.options.custom.currentImage--
      feed.options.custom.showImage.call(feed);
    }
  });
</script>

<!--
<div class="posts">
  {% for post in paginator.posts %}
  <article class="post">
    <h1 class="post-title">
      <a href="{{ site.baseurl }}{{ post.url }}">
        {{ post.title }}
      </a>
    </h1>

    <time datetime="{{ post.date | date_to_xmlschema }}" class="post-date">{{ post.date | date_to_string }}</time>

    {{ post.content }}
  </article>
  {% endfor %}
</div>

<div class="pagination">
  {% if paginator.next_page %}
    <a class="pagination-item older" href="{{ paginator.next_page_path | prepend: site.baseurl }}">Older</a>
  {% else %}
    <span class="pagination-item older">Older</span>
  {% endif %}
  {% if paginator.previous_page %}
    <a class="pagination-item newer" href="{{ paginator.previous_page_path | prepend: site.baseurl }}">Newer</a>
  {% else %}
    <span class="pagination-item newer">Newer</span>
  {% endif %}
</div>
-->