<script type='text/javascript' src='https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js'></script>

<style type='text/css'>
    #about p {
      opacity: 0;
      margin-top: 25px;
      font-size: 1.5em;
      text-align: left;
      z-index: 9999;
      position: absolute;
      color: #525252;
      top: 100px;
      left: 100px;
      width: 40%;
      font-weight: 200;
      line-height: 1.4em;
    }
    /* colors  I stole from Layer Vault because they own all the color in the world */
    .green {color:#de5267;}
    .tomato {color:#de5267;}
    .sky {color:#de5267;}
    .mustard {color:#de5267;}

   @media only screen and (max-device-width: 480px), only screen and (min-device-width: 560px) and (max-device-width: 1136px) and (-webkit-min-device-pixel-ratio: 2) {
    /* iPhone only */
      #about p {
      opacity: 0;
      margin: 2em;
      font-size: 1.4em;
      text-align: left;
      z-index: 9999;
      position: relative;
      color: #525252;
      top: .5em;
      left: .2em;
      width: 80%;
      weight: bold;
      display: inline-block;
      padding: 0 0 100px 0;
    }
  </style>

<script type='text/javascript'>//<![CDATA[ 
  $(window).load(function(){
  $("#about p").delay(1000).animate({"opacity": "1"}, 700);
  });//]]>  
</script>

<div id="about">
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam viverra tristique dolor at viverra. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus aliquam dui et lectus congue tincidunt. Pellentesque porttitor orci quis pretium consectetur. Vivamus ac venenatis urna. Aenean id erat laoreet, elementum felis nec, auctor odio. Vestibulum vehicula dui id risus dictum vestibulum.
    <br />
    <!-- make it hard for spiders to get my email -->
    <script language=javascript>
      <!-- 
      var showtag="@"
      var showlink="Contact Me";
      var showname="marcheasdfsdfmeon";
      var showhost="gmail.com";
      document.write("<a href="+"mail"+"to:"+showname+showtag+showhost+" "+"class='mustard'"+">"+showlink+"</a>")
      //-->
    </script>
  </p>
</div>