<script type='text/javascript' src='https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js'></script>
<script type="text/javascript" src="public/js/instafeed.min.js"></script>
<script src="public/js/kjx8ypz.js"></script> 
<script>try{Typekit.load();}catch(e){}</script> 

<style type='text/css'>

  /* entypo */
  body {
      font-family: proxima-nova, sans-serif;
      background: #000;
  }
    a {
      text-decoration: none;
      color: #dd4830;
    }
    #whoami p {
      opacity: 0;
      margin-top: 25px;
      font-size: 1.5em;
      text-align: left;
      z-index: 9999;
      position: absolute;
      color: #fff;
      top: 100px;
      left: 100px;
      width: 40%;
      font-weight: 200;
      line-height: 1.4em;
    }

    #bg {
      position:fixed; 
      top:-50%; 
      left:-50%; 
      width:200%; 
      height:200%;
      background: #000;
    }
    #bg img {
      position:absolute; 
      top:0; 
      left:0; 
      right:0; 
      bottom:0; 
      margin:auto; 
      min-width:50%;
      min-height:50%;
      opacity: .4;
    }
    #caption {
      z-index: 99999999;
      color: rgba(255,255,255,1);
      font-size: 16px;
      position: absolute;
      bottom: 50px;
      right: 50px;
      text-shadow: 0 1px 1px #000;
      line-height: .9em;
      font-family: helvetica neue;
      font-weight: 200;
      width: 50%;
      text-align: right;
      line-height: 1.3em;
    }
    .next {
      position: fixed;
      top: 30%;
      right: 0;
      font-size: 150%;
      color: #fff;
      background: rgba(0,0,0,.5);
      margin: 1%;
      border-radius: 400px;
      padding: 1em;
      line-height: .5em;
      cursor: pointer;
    }
     .prev {
     position: fixed;
      top: 30%;
      left: 0;
      font-size: 150%;
      color: #fff;
      background: rgba(0,0,0,.5);
      margin: 1%;
      border-radius: 400px;
      padding: 1em;
      line-height: .5em;
      cursor: pointer;
    }
    /* colors  I stole from Layer Vault because they own all the color in the world */
    .green {color:#de5267;}
    .tomato {color:#de5267;}
    .sky {color:#de5267;}
    .mustard {color:#de5267;}

    ::selection {
     background: #222; /* Safari */
    }
    ::-moz-selection {
      background: #222; /* Firefox */
    }

   @media only screen and (max-device-width: 480px), only screen and (min-device-width: 560px) and (max-device-width: 1136px) and (-webkit-min-device-pixel-ratio: 2) {
    /* iPhone only */
      #whoami p {
      opacity: 0;
      margin: 2em;
      font-size: 1.4em;
      text-align: left;
      z-index: 9999;
      position: relative;
      color: #fff;
      top: .5em;
      left: .2em;
      width: 80%;
      weight: bold;
      display: inline-block;
      padding: 0 0 100px 0;
    }
     .next {
      position: fixed;
      top: 2%;
      right: 0;
      font-size: 150%;
      color: #fff;
      background: rgba(0,0,0,.5);
      margin: 1%;
      border-radius: 400px;
      padding: 1em;
      line-height: .5em;
      cursor: pointer;
    }
     .prev {
      position: fixed;
      top: 2%;
      left: 0;
      font-size: 150%;
      color: #fff;
      background: rgba(0,0,0,.5);
      margin: 1%;
      border-radius: 400px;
      padding: 1em;
      line-height: .5em;
      cursor: pointer;
    }
    #caption {
      z-index: 99999999;
      color: rgba(255,255,255,1);
      font-size: 16px;
      position: relative;
      left: 50px;
      text-shadow: 0 1px 1px #000;
      line-height: .9em;
      font-family: helvetica neue;
      font-weight: 200;
      width: 75%;
      text-align: left;
      line-height: 1.3em;
    }
   }
  </style>
  

  <!-- soft load the bio -->
  <script type='text/javascript'>//<![CDATA[ 
    $(window).load(function(){
    $("#whoami p").delay(1000).animate({"opacity": "1"}, 700);
    });//]]>  
  </script>